/* Global styles */
body {
    margin: 0;
    padding: 0;
    background-color: #01000113;
    font-family: 'Forum';
  }
.mainCont {
    height: 100vh;
   /* background-image: url(images/mainIMG.JPG); */
   background-color: #ffffff8f;
   /* background-size: cover;
   background-position: center center; */
  }
.mainCont h1 {
    font-size: 11vw;
    font-family: 'Rubik Pixels';
    color: palevioletred;
    margin: 0px;
    padding: 40px;
}
.mainCont p {
   font-size: 20px;
   display: flex;
   text-align: justify;
   width: 65%;
   margin: 30px;
}

/*navbar styling*/
.li, a, button {
  font-weight: 500;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links li {
  padding: 20px 20px;
}
.nav-links li a {
  padding: 10px;
  border-radius: 15px;
  transition: all 0.3s ease 0s;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 19px;
}
.nav-links li a:hover {
  color: rgb(252, 252, 252);
}

/*projects styling*/
  section {
    padding: 30px;
    margin: 20px 0;
  }
section#portfolio h2 {
    text-align: center;
    font-size: 3vw;
}
section#portfolio p {
    text-align: center;
    font-size: 1.3vw;
}
section#portfolio {
    background-color: #b92eb92b;
  }
  
  .projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .project-card {
    background-color: #ffffffc2;
    padding: 20px;
    width: 20%;
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
  }
  
/*services styling*/
.serviceMain {
  background-color: #0c0101;
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
.services h2 {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}
.service-item {
  display: flex;
  align-items: center;
  background-color: #f408e050;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.service-item:hover {
  transform: translateY(-5px);
  background-color: rgba(251, 251, 251, 0.474);
}

.service-icon img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.service-info h3 {
  font-size: 15px;
  color: #060000;
  margin: 0;
}
.services-title {
  text-align: center;
}
.service-info p {
  font-size: 1em;
  color: #000000;
}

/*contact info styling*/
.aboutMe {
  background-image: url(images/beach.jpg);
  background-size: cover;
}
.contact-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4bb;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
.contact-container h2 {
    color: #0b031e;
    font-size: 24px;
  }
.contact-list {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    line-height: 1.6;
  }
  .contact-list li {
    margin: 10px 0;
  }
  .contact-list strong {
    color: #333;
  }
  .contact-list a {
    color: #0c0101;
    text-decoration: none;
  }
  .contact-list a:hover {
    text-decoration: underline;
  }